[REGION1]
user=ocid1.user.oc1..xxxxxxxx
fingerprint=xxxx
tenancy=ocid1.tenancy.oc1..xxxxxx
region=<region_identifier>
key_file=/home/ubuntu/api-key/api-key.pem

[REGION2]
user=ocid1.user.oc1..xxxxxxxx
fingerprint=xxxx
tenancy=ocid1.tenancy.oc1..xxxxxx
region=<region_identifier>
key_file=<path_to_api_key_file>