[REGION1]
user=${user_ocid}
fingerprint=${fingerprint}
tenancy=${tenancy_ocid}
region=${region_1}
key_file=~/.oci/api.pem

[REGION2]
user=${user_ocid}
fingerprint=${fingerprint}
tenancy=${tenancy_ocid}
region=${region_2}
key_file=~/.oci/api.pem